<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{fragments/blank}" >
<head>
<meta charset="UTF-8">
<title>Add Leave</title>

</head>
<body>

  <div layout:fragment="content">


	<script type="text/javascript" th:inline="javascript">
	
	function sele(){
		

		var form = $('.former');
		var formdata = false;
		formdata = new FormData(form[0]);
			$.ajax({
				url:[[@{/add/leave}]],
				data:formdata,
				type:'post',
				processData : false,
				contentType : false,
				cache : false,
				success:function(data){
							$.toast({
							heading: 'Success!',
							text: '<p>Staff leave added successfully. Leave ends on '+data+' </p><button class="btn btn-primary btn-sm mt-10">Play again</button>',
							position: 'top-right',
							loaderBg:'#f68daf',
							class: 'jq-toast-success',
							hideAfter: 3500, 
							stack: 6,
							showHideTransition: 'fade'
						});
				       
						 form[0].reset();
	
				
				}
				
			}); 
			  
			 }
	
	
		
	
	
	</script>
	
		
	
	
		  
  
   <nav class="hk-breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light bg-transparent">
                    <li class="breadcrumb-item"><a href="#">Forms</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add leave</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->

            <!-- Container -->
            <div class="container">
                <!-- Title -->
                <div class="hk-pg-header">
                    <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i data-feather="align-left"></i></span></span>Add New Leave</h4>
                </div>
                <!-- /Title -->

                <!-- Row -->
                <div class="row">
                    <div class="col-xl-6">
                        <section class="hk-sec-wrapper">
                            <div class="row">
                                <div class="col-sm">
                                    <form class="former">
                                        <div class="row">
                                            <div class="col-md-12 form-group">
                                                <label for="stafflist">Staff</label>
<select class="form-control custom-select d-block w-100" id="stafflist" name="staff">
                                                    <option th:each="a:${stafflist}" th:value="${a.id}" th:text="${a.name}">Choose...</option>
                                                  
                                                </select>
                                            </div>
                                           
                                        </div>



											<div class="row">
                                            <div class="col-md-12 mb-10">
                                                <label for="country">Leave Type</label>
                                                <select class="form-control custom-select d-block w-100" id="country" name="type">
                                                    <option th:each="a:${leaves}" th:value="${a.id}" th:text="${a.leave}">Choose...</option>
                                                </select>
                                            </div>
                                            
                                            
                                            
                                                                                       
                                           
                                        </div>
                                   
		<div class="row">
                                        <div class="col-md-12 mb-10">
                                            <label for="address">Start Date</label>
                                            <input class="form-control" id="address" name="start" placeholder="1234 Main St" type="date">
                                        </div>
</div>	
	 									                                        <div class="row">
                                            <div class="col-md-12 mb-10">
                                                <label for="number">Days Applied For</label>
                                               <input class="form-control" id="number" placeholder="number of days" name="days" type="number">

                                            </div>
                                         
                                            
                                        </div>
                                        
									
	 									                                        <div class="row">
                                            <div class="col-md-12 mb-10">
                                                <label for="email">Include Weekends</label>
                                                <select class="form-control custom-select d-block w-100" id="ws" name="weekend">
                                                    <option value="1" >Yes</option>
                                                    <option value="0">No</option>
                                                </select>
                                            </div>
                                         
                                            
                                        </div>
                                    
                                       
                                        <button class="btn btn-primary col-md-12 mt-4" type="button" onclick="sele()">Approve Leave</button>
                                    </form>
                                </div>
                            </div>
                        </section>
                     </div>
                </div>
                <!-- /Row -->
            </div>
            <!-- /Container -->
  
  
  </div>
  
  
</body>
</html>