<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{fragments/blank}" >
<head>
<meta charset="UTF-8">
<title>Add System User</title>

</head>
<body>

  <div layout:fragment="content">


	<script type="text/javascript" th:inline="javascript">
	$(document).ready(function(){
		
		
				
			
		
	});
	function sele(){
		

		var form = $('.former');
		var formdata = false;
		formdata = new FormData(form[0]);
		var ur=[[@{/add/staff/pic}]];
		
		
		var img =$('#imgs').attr('src');
		Webcam.upload( img, ur, function(code, text) {
			$('#pict').val(text);
			 var url= [[@{/admin/adduser/}]];
			$.ajax({
				url:url+text,
				data:formdata,
				type:'post',
				processData : false,
				contentType : false,
				cache : false,
				success:function(data){
					if(data==1){
						$.toast({
							heading: 'Success!',
							text: '<p>User have successfully added. The staff ID for the biometric system is </p><button class="btn btn-primary btn-sm mt-10">Play again</button>',
							position: 'top-right',
							loaderBg:'#f68daf',
							class: 'jq-toast-success',
							hideAfter: 3500, 
							stack: 6,
							showHideTransition: 'fade'
						});
				       
						 form[0].reset();
						 document.getElementById('cover').innerHTML = 
								'<img id="imgs" src=""/>';
						
					}
				}
				
			}); 
			  
			 });
	
	
		
	}
	
	
function sele2(){
		

		var form = $('.former');
		var formdata = false;
		formdata = new FormData(form[0]);
	//	[[@{/admin/adduser/}]]
			$.ajax({
				url:[[@{/admin/adduser/}]],
				data:formdata,
				type:'post',
				processData : false,
				contentType : false,
				cache : false,
				success:function(data){
					if(data==1){
						$.toast({
							heading: 'Success!',
							text: '<p>User have successfully added. The staff ID for the biometric system is </p><button class="btn btn-primary btn-sm mt-10">Play again</button>',
							position: 'top-right',
							loaderBg:'#f68daf',
							class: 'jq-toast-success',
							hideAfter: 3500, 
							stack: 6,
							showHideTransition: 'fade'
						});
				       
						 form[0].reset();
						 document.getElementById('cover').innerHTML = 
								'<img id="imgs" src=""/>';
						
					}
				}
				
			}); 
			  
			
	
	
		
	}
	
	</script>
	
		<script type="text/javascript" th:inline="javascript">
		
	
		
		function take_snapshot() {
			// take snapshot and get image data
			Webcam.snap( function(data_uri) {
				// display results in page
				document.getElementById('cover').innerHTML = 
				'<img id="imgs" src="'+data_uri+'"/>';
			} );
		}
			
$( document ).ready(function() {
	Webcam.set({
		width: 300,
		height: 240,
		image_format: 'jpeg',
		jpeg_quality: 90
	});
	Webcam.attach( '#my_camera' );
	$();

	$('#type').blur(function (){

		var val= parseInt($('#type').val());
			if(val==3){
				$('#wd').show();
				
			}else{
				$('#wd').hide();
			}
			
		});
	
	$('#staff').blur(function (){

		var val= parseInt($('#staff').val());
			if(val>0){
				$('#name').hide();
				$('#username').hide();
				$('#web').hide();

			}else{
				$('#name').show();
				$('#username').show();
				$('#web').show();

			}
			
		});
			
	});
	
	
	
	
	
	
		</script>
		  
  
   <nav class="hk-breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light bg-transparent">
                    <li class="breadcrumb-item"><a href="#">Forms</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Enroll new user</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->

            <!-- Container -->
            <div class="container">
                <!-- Title -->
                <div class="hk-pg-header">
                    <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i data-feather="align-left"></i></span></span>Add New User</h4>
                </div>
                <!-- /Title -->

                <!-- Row -->
                <div class="row">
                    <div class="col-xl-12">
                        <section class="hk-sec-wrapper">
                            <div class="row">
                                <div class="col-sm">
                                    <form class="former">
                                    
                                    <div class="row">
                                            
                                             <div class="col-md-12 mb-10">
                                                <label for="zip">Staff</label>
                                                       <select class="form-control custom-select d-block w-100" id="staff" name="staff">
                                                       <option value=0 ></option>
                                                       
                                                    <option th:each="a:${staff}" th:value="${a.bioID}" th:text="${a.name}">Choose...</option>
                                            </select>
                                            </div>
                                            
                                            
                                                                                   
                                           
                                        </div>
                                    
                                    <hr>
                                        <div class="row" id="name">
                                            <div class="col-md-12 form-group">
                                                <label for="firstName">First name</label>
                                                <input class="form-control" id="firstName" name="name" placeholder="full name" value="" type="text">
                                            </div>
                                            
                                        </div>



											<div class="row">
                                            
                                             <div class="col-md-6 mb-10">
                                                <label for="zip">Password</label>
                                                <input class="form-control" id="zip" placeholder="" type="password" name="password">
                                            </div>
                                            
                                            
                                            <div class="col-md-6 mb-10">
                                                <label for="mobile">Confirm Password</label>
      										<input class="form-control" id="conf" placeholder="" type="password" name="pass">

                                            </div>                                              
                                           
                                        </div>
                                                                              <div class="form-group" id="username">
                                            <label for="address">Username</label>
                                            <input class="form-control" id="address" name="email" placeholder="email" type="text">
                                        </div>

	
	 									<div class="form-group" style="display: none;">
                                            <input class="form-control" id="pict" name="pic" type="text">
                                        </div>

                                        
										
                                        <div class="row">
                                            <div class="col-md-6 mb-10">
                                                <label for="type">Roles</label>
                                                <select class="form-control custom-select d-block w-100" id="type" name="type">
                                    <option th:each="a:${roles}" th:value="${a.id}" th:text="${a.value}">Choose...</option>

                                                </select>
                                            </div>
                                            
                                            <div class="col-md-6 mb-10 custom-control custom-checkbox" id="wd">
                                                 <label for="ws">Department</label>
                                            
                                           <select class="form-control custom-select d-block w-100" id="ws" name="department">
                                            <option th:each="a:${depts}" th:value="${a.id}" th:text="${a.department}">Choose...</option>

                                                </select>
                                     
                                            </div>
                                        </div>
                                         
                                   
                                        <hr>

                                        <h6 class="form-group">Capture Face</h6>

                                        
                                        <div class="row" id="web">
                                            <div class="col-md-6 form-group">
                                               
                                                <div id="cover"></div>
                                               
                                            </div>
                                            <div class="col-md-6 form-group">
                                               
                                                <div id="my_camera"></div>
                                               
                                               <button type="button" class="btn btn-primary" onclick="take_snapshot()" >Take Snapshot</button>
                                               </div>
                                        </div>
                                    
                                        <hr>
                                        <button class="btn btn-primary" type="button" onclick="sele2()">Add Staff</button>
                                    </form>
                                </div>
                            </div>
                        </section>
                     </div>
                </div>
                <!-- /Row -->
            </div>
            <!-- /Container -->
  
  
  </div>
  
  
</body>
</html>