<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{fragments/blank}" >
<head>
<meta charset="UTF-8">
<title>Dashboard</title>
</head>
<body>

     <div class="container-fluid mt-xl-50 mt-sm-30 mt-15" layout:fragment="content">
     <script type="text/javascript">
     var labe = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun",
    		"Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ]
     $(document).ready(function(){
    	 
    	 
    		var late = []
    		var absent = []
    		var deficit = []
    		var months = []
    		var year = new Date().getFullYear()

    		$.ajax({
    		url : "/attendance/get/attendance/year/"+ 2016,
    		method : "GET",
    		success : function(datas) {
    			console.log(datas);

    			for ( var i in datas) {
    				console.log(datas[i].latenessount)
    				absent.push(datas[i].absents);
    				deficit.push(datas[i].deficit)
    				late.push(datas[i].latenessount);
    				var t = (datas[i].month) - 1
    				months.push(labe[t])
    			}
    			
    			var options3 = {
    					chart: {
    						height: 350,
    						type: 'line',
    						shadow: {
    							enabled: true,
    							top: 18,
    							left: 7,
    							blur: 10,
    							opacity: 1
    						},
    						toolbar: {
    							show: false
    						}
    					},
    					colors: ['#f68daf','#fabacf'],
    					dataLabels: {
    						enabled: true,
    					},
    					stroke: {
    						curve: 'smooth'
    					},
    					series: [{
    							name: "Absent",
    							data: absent
    						},
    						{
    							name: "Lateness",
    							data: late
    						}
    					],
    					grid: {
    						borderColor: '#e7e7e7',
    						row: {
    							colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
    							opacity: 0.5
    						},
    					},
    					markers: {
    						
    						size: 6
    					},
    					xaxis: {
    						categories: labe,
    						title: {
    							text: 'Month'
    						}
    					},
    					yaxis: {
    						title: {
    							text: 'Counts'
    						},
    						min: 5,
    						max: 400
    					},
    					legend: {
    						position: 'top',
    						horizontalAlign: 'right',
    						floating: true,
    						offsetY: -25,
    						offsetX: -5
    					}
    				}
    				var chart3 = new ApexCharts(
    					document.querySelector("#e_chart_3"),
    					options3
    				);
    				chart3.render();
    			
    		}});
    	 
    	 
    	 
    	 
         var late = []

    	 $.ajax({
    		 url:'/attendance/admin/get/by/gender',
    		 method:'get',
    		 success:function(datas){
    			 console.log(datas)
    			 for ( var i in datas) {
    	
    				
    					late.push({value:datas[i].id,name:datas[i].value});
    				
    				
    				}
    			 
    	    	 var eChart_2 = echarts.init(document.getElementById('e_chart_9'));
    	 		
    	 		var option1 = {
    	 			tooltip: {
    	 				show: true,
    	 				backgroundColor: '#fff',
    	 				borderRadius:6,
    	 				padding:6,
    	 				axisPointer:{
    	 					lineStyle:{
    	 						width:0,
    	 					}
    	 				},
    	 				textStyle: {
    	 					color: '#324148',
    	 					fontFamily: '"Roboto", sans-serif',
    	 					fontSize: 12
    	 				}	
    	 			},
    	 			series: [
    	 				{
    	 					name:'',
    	 					type:'pie',
    	 					radius : '55%',
    	 					color: ['#f68daf', '#00efff', '#f36493'],
    	 					data:late,
    	 					label: {
    	 						normal: {
    	 							formatter: '{b}\n{d}%'
    	 						},
    	 				  
    	 					}
    	 				}
    	 			]
    	 		};
    	 		eChart_2.setOption(option1);
    	 		eChart_2.resize();
    			 
    		 }
    		 
    		 
    		 
    	 });
    	
    	 var pos=[0,0,0,0,0,0,0,0,0,0,0,0,0];
    	 var neg=[0,0,0,0,0,0,0,0,0,0,0,0,0];
    	$.ajax({
    		url:'/attendance/admin/get/by/deficit',
    		type:'get',
    		success:function(data){
    			console.log('data---'+data);
    			 for ( var i in data) {
    			    if(data[i].quantity<0){
    			    	neg[data[i].id-1]=data[i].quantity;
    			    	
    			    }else{
    			    	
    			    	pos[data[i].id-1]=data[i].quantity;
  	
    			    }	
     				 				
 				
 				}
    			 var eChart_9 = echarts.init(document.getElementById('e_chart_11'));
    		 		var option8 = {
    		 			color: ['#098901', '#ff8866'],
    		 			tooltip: {
    		 				show: true,
    		 				trigger: 'axis',
    		 				backgroundColor: '#fff',
    		 				borderRadius:6,
    		 				padding:6,
    		 				axisPointer:{
    		 					lineStyle:{
    		 						width:0,
    		 					}
    		 				},
    		 				textStyle: {
    		 					color: '#324148',
    		 					fontFamily: '"Roboto", sans-serif',
    		 					fontSize: 12
    		 				}	
    		 			},
    		 			
    		 			xAxis: [{
    		 				type: 'value',
    		 				axisLine: {
    		 					show:false
    		 				},
    		 				axisTick: {
    		 					show:false
    		 				},
    		 				axisLabel: {
    		 					textStyle: {
    		 						color: '#007d8a'
    		 					}
    		 				},
    		 				splitLine: {
    		 					lineStyle: {
    		 						color: '#eaecec',
    		 					}
    		 				}
    		 			}],
    		 			yAxis: {
    		 				type: 'category',
    		 				data: labe,
    		 				axisLine: {
    		 					show:false
    		 				},
    		 				axisTick: {
    		 					show:false
    		 				},
    		 				axisLabel: {
    		 					textStyle: {
    		 						color: '#5e7d8a'
    		 					}
    		 				}
    		 			},
    		 			grid: {
    		 				top: '3%',
    		 				left: '3%',
    		 				right: '3%',
    		 				bottom: '3%',
    		 				containLabel: true
    		 			},
    		 			series: [{
    		 					name:'overtime',
    		 					type:'bar',
    		 					stack: 'st1',
    		 					barMaxWidth: 30,
    		 					data:pos,
    		 					itemStyle: {
    		 						normal: {
    		 							barBorderRadius: [0, 6, 6, 0] ,
    		 						}
    		 					},
    		 				},
    		 				{
    		 					name:'deficit',
    		 					type:'bar',
    		 					stack: 'st1',
    		 					barMaxWidth: 30,
    		 					data:neg,
    		 					itemStyle: {
    		 						normal: {
    		 							barBorderRadius: [6, 0, 0, 6] ,
    		 						}
    		 					},
    		 				}]
    		 		};
    		 		eChart_9.setOption(option8);
    		 		eChart_9.resize();
    		 		
    		 			
    			
    		}
    		
    	});
 		
 		
 		
	var eChart_10 = echarts.init(document.getElementById('e_chart_10'));
	var agePie=[];
	$.ajax({
		url:'/attendance/admin/get/by/age',
		type:'get',
		success:function(data){
			console.log('data---'+data);
			 for ( var i in data) {
				 
		 agePie.push({value:data[i].id,name:data[i].value+' yrs'});
				 
				 
			 }
			 var option9 = {
						tooltip: {
							show: true,
							backgroundColor: '#fff',
							borderRadius:6,
							padding:6,
							axisPointer:{
								lineStyle:{
									width:0,
								}
							},
							textStyle: {
								color: '#324148',
								fontFamily: '"Roboto", sans-serif',
								fontSize: 12
							}	
						},
						series: [
							{
								name:'Ages',
								type:'pie',
								radius : '60%',
								center : ['50%', '50%'],
								roseType : 'radius',
								color: ['#f68daf', '#feeff4', '#f30093', '#fabacf'],
								data: agePie,
								label: {
									normal: {
										formatter: '{b}\n{d}%'
									},
							  
								}
							}
						]
					};
					eChart_10.setOption(option9);
					eChart_10.resize();
			    	 	 
		
		}});
		
     });
     </script>
     
                <!-- Row -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hk-row">
							<div class="col-lg-7">
								<div class="card card-refresh">
									<div class="refresh-container">
										<div class="loader-pendulums"></div>
									</div>
									<div class="card-header card-header-action">
										<div>
											<h6 class="mb-10">Attendance Performance this Year</h6>
										</div>
										<div class="d-flex align-items-center card-action-wrap">
											<a href="#" class="inline-block refresh mr-15">
												<i class="ion ion-md-radio-button-off"></i>
											</a>
											<div class="inline-block dropdown">
												<a class="dropdown-toggle no-caret" data-toggle="dropdown" href="#" aria-expanded="false" role="button"><i class="ion ion-md-more"></i></a>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="#">Action</a>
													<a class="dropdown-item" href="#">Another action</a>
													<a class="dropdown-item" href="#">Something else here</a>
													<div class="dropdown-divider"></div>
													<a class="dropdown-item" href="#">Separated link</a>
												</div>
											</div>
										</div>
									</div>
									<div class="card-body">
										<div id="e_chart_3"></div>
									</div>
								</div>
							</div>
							<div class="col-lg-5">
								<div class="card">
									<div class="card-header card-header-action">
										<div>
											<h6 class="mb-10">Population by Gender</h6>
										</div>
										
									</div>
									<div class="card-body">
										<div id="e_chart_9" style="height:360px;"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="hk-row">
							<div class="col-lg-3 col-md-6">
								<div class="card card-sm">
									<div class="card-body">
										<div class="d-flex justify-content-between mb-5">
											<div>
												<span class="d-block font-15 text-dark font-weight-500">Staff</span>
											</div>
											<div>
											</div>
										</div>
										<div class="text-center">
											<span class="d-block display-4 text-dark mb-5" th:text="${size}">168M</span>
										<small class="d-block">Workers </small>
											
										</div>
									</div>
								</div>
							
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="card card-sm">
									<div class="card-body">
										<div class="d-flex justify-content-between mb-5">
											<div>
												<span class="d-block font-15 text-dark font-weight-500">Departments</span>
											</div>
											<div>
											</div>
										</div>
										<div class="text-center">
											<span class="d-block display-4 text-dark mb-5"><span class="counter-anim"  th:text="${deptsize}">168,856</span></span>
																						<small class="d-block"> Departments</small>
											
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="card card-sm">
									<div class="card-body">
										<div class="d-flex justify-content-between mb-5">
											<div>
												<span class="d-block font-15 text-dark font-weight-500">Staff On Leave</span>
											</div>
											<div>
											</div>
										</div>
										<div class="text-center">
											<span class="d-block display-4 text-dark mb-5"  th:text="${leavesize}">73</span>
											<small class="d-block">Workers</small>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="card card-sm">
									<div class="card-body">
										<div class="d-flex justify-content-between mb-5">
											<div>
												<span class="d-block font-15 text-dark font-weight-500">Male/Female Ratio</span>
											</div>
											<div>
											</div>
										</div>
										<div class="text-center">
											<span class="d-block display-4 text-dark mb-5"  th:text="${genstat}">48:65</span>
											<small class="d-block">Proportion</small>
										</div>
									</div>
								</div>
							</div>							
						</div>
						<div class="hk-row">
							<div class="col-lg-7">
								<div class="card">
									<div class="card-header card-header-action">
										<h6>Man hours Deficit<small class="text-muted pl-10">Minutes</small></h6>
										<div class="d-flex align-items-center card-action-wrap">
											<a href="#" class="inline-block refresh mr-15">
												<i class="ion ion-md-arrow-down"></i>
											</a>
											<a href="#" class="inline-block full-screen">
												<i class="ion ion-md-expand"></i>
											</a>
										</div>
									</div>
									<div class="card-body pa-0">
										<div class="pa-20">

	<div class="card-body">
										<div id="e_chart_11" style="height:360px;"></div>
									</div>


										</div>
						<!-- 				<div class="table-wrap">
											<div class="table-responsive">
												<table class="table table-sm table-hover mb-0">
													<thead>
														<tr>
															<th class="w-25">#</th>
															<th>Year</th>
															<th>Month</th>
															<th>Deficit</th>
															<th>Lateness</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>Canada</td>
															<td>55,555</td>
															<td>210</td>
															<td>2.46%</td>
															<td>0.26%</td>
														</tr>
														
													</tbody>
												</table>
											</div>
										</div>
						 -->			</div>
								</div>
								<div class="card">
									<div class="card-header card-header-action">
										<div>
											<h6 class="mb-10">Upcoming birthdays</h6>
										</div>
										
									</div>
									<div class="card-body">
									
									         <div class="row">
                                <div class="col-sm">
                                    <div class="table-wrap">
                                        <table id="datable_1" class="table table-hover w-100 display pb-30">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Position</th>
                                                    <th>Date</th>
                                                    <!-- <th>Age</th>
                                                    <th>Days More</th> -->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="a:${dbays}">
                                                    <td th:text="${a.name}">Tiger Nixon</td>
                                                    <td th:text="${a.staffType}">System Architect</td>
                                                    <td th:text="${a.dob}">Edinburgh</td>
                                                  
                                                  
                                                </tr>
                                              

                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                     <th>Name</th>
                                                    <th>Position</th>
                                                    <th>Date</th>
                                                   
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                 
									
									</div>
								</div>
									<div class="card">
									<div class="card-body pa-0">
										<div class="table-wrap">
											<div class="table-responsive">
												<table class="table table-hover mb-0">
													<thead>
														<tr>
															<th>
																Department
																
															</th>
															<th>TimeWorked  </th>
															<th>Lateness</th>
															<th>Deficit</th>
															<th>Comment</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="a,i:${depperformance}">
															<td th:text="${a.value}">
																
															</td>
															<td th:text="${a.id}">$2000</td>
															<td>
																<div class="media align-items-center">
																	
																	<div class="media-body">
																		<span class="d-block" th:text="${a.quantity}" >American Express</span> 
																	</div>
																</div>
															</td>
															<td  th:text="${a.quantity2}">
																22/10/2018
															</td>
															<td><span  th:text="${a.quantity2>0?'On Track':'Off Track'}" >On track</span></td>
														</tr>
														</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							
							</div>
							<div class="col-lg-5">
								<div class="card">
									<div class="card-header card-header-action">
										<h6>Top Performing</h6>
										<div class="d-flex align-items-center card-action-wrap">
											<a href="#" class="inline-block refresh mr-15">
												<i class="ion ion-md-arrow-down"></i>
											</a>
											<a href="#" class="inline-block full-screen mr-15">
												<i class="ion ion-md-expand"></i>
											</a>
											<a class="inline-block card-close" href="#" data-effect="fadeOut">
												<i class="ion ion-md-close"></i>
											</a>
										</div>
									</div>
									<div class="card-body pa-0">
										<div class="table-wrap">
											<div class="table-responsive">
												<table class="table table-sm table-hover mb-0">
													<thead>
														<tr>
															<th class="w-10">Rank</th>
															<th class="w-40">Name</th>
															<th class="w-25">Department</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="a,i:${perf}">
															<td th:text="${i.index+1}">Clicks</td>
															<td>
																<div class="progress-wrap lb-side-left mnw-125p">
																	<div class="progress-lb-wrap">
																		<label class="progress-label mnw-50p" th:text="${a.staffName}">1,184</label>
																		<div class="progress progress-bar-rounded progress-bar-xs">
																			<div class="progress-bar bg-primary w-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
																		</div>
																	</div>
																</div>
															</td>
															<td th:text="${a.dept}">1,234</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header card-header-action">
										<h6>Top Late comers</h6>
								
									</div>
									<div class="card-body">
												<div class="table-responsive">
												<table class="table table-sm table-hover mb-0">
													<thead>
														<tr>
															<th class="w-10">Rank</th>
															<th class="w-40">Name</th>
															<th class="w-25">Department</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="a,i:${toplate}">
															<td th:text="${i.index+1}">Clicks</td>
															<td>
																<div class="progress-wrap lb-side-left mnw-125p">
																	<div class="progress-lb-wrap">
																		<label class="progress-label mnw-50p" th:text="${a.staffName}">1,184</label>
																		<div class="progress progress-bar-rounded progress-bar-xs">
																			<div class="progress-bar bg-primary w-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
																		</div>
																	</div>
																</div>
															</td>
															<td th:text="${a.dept}">1,234</td>
														</tr>
													</tbody>
												</table>
											</div>
										
									</div>
								</div>
									<div class="card  border-0">
									
									<div class="card-header card-header-action">
										<h6>Staff By Ages</h6>
								
									</div>
                            <div class="row">
                                <div class="col-sm">
                                    <div id="e_chart_10" class="echart" style="height:294px;"></div>
                                </div>
                            </div>
									
									
									
									
									
									
									
								</div>
							
							
							
							</div>
						</div>
						
						<div class="hk-row">
							<div class="col-lg-8">
							</div>
							<div class="col-lg-4">
							</div>
						</div>
					</div>
                </div>
                <!-- /Row -->
            </div>
            <!-- /Container -->
			
</body>
</html>