<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{fragments/blank}" >
<head>
<meta charset="UTF-8">
<title>Departments</title>
</head>
<body>

     <div layout:fragment="content">
       
           <!-- Breadcrumb -->
            <nav class="hk-breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light bg-transparent">
                    <li class="breadcrumb-item"><a href="#">Tables</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Departments</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->

            <!-- Container -->
            <div class="container">

                <!-- Title -->
                <div class="hk-pg-header">
                    <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i data-feather="database"></i></span></span>Departments Tables</h4>
                </div>
                <!-- /Title -->

                <!-- Row -->
                <div class="row">
                    <div class="col-xl-12">
                        <section class="hk-sec-wrapper">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="table-wrap">
                                        <table id="datable_1" class="table table-hover w-100 display pb-30">
                                            <thead>
                                                <tr>
                                                <th>#</th>
                                                    <th>Name</th>
                                                    <th>Supervisor</th>
                                                    <th>Workforce</th>
                                                    <th>  </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="a,i:${dept}">
                                                    <td th:text="${i.index+1}">Tiger Nixon</td>
                                            <td th:text="${a.department}" style="text-transform: capitalize;">System Architect</td>
                                                    
                                                    <td th:text="${a.size}">System Architect</td>
                                                    <td >Edinburgh</td>
                                                    <td><a th:href="@{'/admin/department/'+${a.id}+'/dashboard'}" class="btn  btn-sm btn-info">View Details</a></td>
                                                </tr>
                                           
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                <th>#</th>
                                                    <th>Name</th>
                                                    <th>Supervisor</th>
                                                    <th>Workforce</th>
                                                    <th>  </th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>
                      </div>
                </div>
                <!-- /Row -->

            </div>
            <!-- /Container -->
     
     
     </div>
     
    
     
</body>
</html>