<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/blank}">
<head>
<meta charset="UTF-8">
<title>Month Overtime Aggregation </title>

</head>
<body>

	<div layout:fragment="content">




		<nav class="hk-breadcrumb" aria-label="breadcrumb">
			<ol class="breadcrumb breadcrumb-light bg-transparent">
				<li class="breadcrumb-item"><a href="#">Query</a></li>
				<li class="breadcrumb-item active" aria-current="page">Overtime</li>
			</ol>
		</nav>
		<!-- /Breadcrumb -->

		<!-- Container -->
		<div class="container">
			<!-- Title -->
			<div class="hk-pg-header">
				<h4 class="hk-pg-title">
					<span class="pg-title-icon"><span class="feather-icon"><i
							data-feather="align-left"></i></span></span>Overtime Data
				</h4>
			</div>
			<!-- /Title -->

			<!-- Row -->
			<div class="row">
				<div class="col-xl-12">
					<section class="hk-sec-wrapper">
						<div class="row">
							<div class="col-sm">
								




								<hr>
								<h6 class="form-group"> Details</h6>


								<div class="row">
									<div class="col-sm">
										<div class="table-wrap">
											<table id="datable_1"
												class="table table-hover w-100 display pb-30">
												<thead>
													<tr>
														<th>#</th>
														<th>Name</th>
														<th>Duration(Hours)</th>
														
													</tr>
												</thead>
												<tbody id="tabber">
												<tr th:each="a,i:${agg}">
												<td th:text="${i.index+1}" ></td>
												<td th:text="${a.value}"></td>
												<td th:text="${a.id}"></td>
												</tr>
												</tbody>
												<tfoot>
													<tr>
														<th>#</th>
														<th>Name</th>
														<th>Duration(Hours)</th>
													</tr>
												</tfoot>
											</table>

										</div>
									</div>
								</div>


							</div>
						</div>
					</section>
				</div>
			</div>
			<!-- /Row -->
		</div>
		<!-- /Container -->


	</div>


</body>
</html>