<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{fragments/blank}" >
<head>
<meta charset="UTF-8">
<title>Shifts Data</title>
</head>
<body>

     <div layout:fragment="content">
       
           <!-- Breadcrumb -->
            <nav class="hk-breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light bg-transparent">
                    <li class="breadcrumb-item"><a href="#">Tables</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Uploaded Data</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->

            <!-- Container -->
            <div >

                <!-- Title -->
                <div class="hk-pg-header">
                    <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i data-feather="database"></i></span></span>Data Table</h4>
                </div>
                <!-- /Title -->

                <!-- Row -->
                <div class="row">
                    <div class="col-xl-12">
                        <section class="hk-sec-wrapper">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="table-wrap">
                                        <table id="datable_1" class="table table-hover w-100 display pb-30">
                                            <thead>
                                               <tr>
														<th scope="col">#</th>
														<th scope="col">Shift</th>
														<th scope="col">Start</th>
														<th scope="col">closing</th>
												<th scope="col">Hours</th>
												
														<th scope="col"></th>
													</tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="u,iterator : ${types}">
														<td scope="row" class="align-middle"  th:text="${iterator.index+1}" >1</td>
														<td th:text="${u.shiftType}" class="align-middle">Lucia</td>
														<td th:text="${{u.startString}}" class="align-middle">Christ</td>
														<td th:text="${{u.closeString}}"  class="align-middle">@Lucia</td>
																			<td th:text="${{u.hours}}"  class="align-middle">@Lucia</td>
														<td ><button type="button" class="btn btn-primary">Edit</button> <button type="button" class="btn btn-danger">Delete</button> 
														</td>
													</tr>
                                           
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                <tr>
														<th scope="col">#</th>
														<th scope="col">Shift</th>
														<th scope="col">Start</th>
														<th scope="col">closing</th>
												<th scope="col">Hours</th>
												
														<th scope="col"></th>
													</tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>
                      </div>
                </div>
                <!-- /Row -->

            </div>
            <!-- /Container -->
     
     
     </div>
     
    
     
</body>
</html>